.AddPostContainer {
    background-color: var(--blue);
    min-height: 100vh;
}

.AddPostSubContainer {
    margin: 80px;
}

.textarea {
    background: none;
    border: none;
    resize: none;
    outline: none;

    width: 100%;

    border-bottom: 2px solid var(--lightBlue);
}

.BlogTitle {
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 800;

    margin-bottom: 40px;

    color: var(--yellow);
}

.AddNewSectionContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.AddNewSectionElement {
    display: flex;
    flex-direction: column;
    gap: 10px;


}

.addNewSectionTitle {
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 800;

    color: var(--lightBlue);
}

.addNewSectionDescription {
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 800;

    color: var(--white);
}

.DeleteSectionBtn {
    background: none;
    border: none;
    outline: none;

    margin: 0px;
    padding: 0px;

    width: fit-content;

    cursor: pointer;
}

.AddNewSectionButton {
    background: none;
    border: none;
    outline: none;

    width: fit-content;

    font-family: 'Montserrat';
    font-size: 12px;
    font-weight: 600;

    padding: 10px 15px;

    color: var(--pink);

    border: 2px solid var(--pink);
    border-radius: 10px;

    cursor: pointer;
}

.AddPostBtn {
    background: none;
    border: none;
    outline: none;

    width: fit-content;

    font-family: 'Montserrat';
    font-size: 12px;
    font-weight: 600;

    padding: 10px 15px;
    margin: 0px 80px;

    color: var(--yellow);

    border: 2px solid var(--yellow);
    border-radius: 10px;

    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .AddPostSubContainer {
        margin: 20px;
    }

    .AddPostBtn {
        margin: 0px 20px;
    }
}