@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

:root {
    --teal: #B2C8BA;
    --white: #EDF2FB;
    --black: #282828;
    --blue: #2D3250;
    --lightBlue: #7077A1;
    --pink: #F875AA;
    --yellow: #F6B17A;
}

body {
    padding: 0;
    margin: 0;

    font-family: 'Montserrat';

    color: var(--black);
}