.DashboardContainer {
    min-height: 100vh;
    background-color: var(--blue);
}

.HeaderContainer {
    width: 100%;

    padding: 20px 0px;

    background-color: var(--lightBlue);

    border-radius: 0px 0px 5px 5px;
}

.Header {
    display: flex;
    justify-content: space-between;

    margin: 0px 80px;
}

.Header button {
    outline: none;
    background: none;
    border: none;

    font-family: 'Montserrat';
    font-size: 12px;
    font-weight: 600;

    margin: 10px 0px;
    padding: 10px 15px;

    color: var(--lightBlue);
    background-color: var(--blue);

    border-radius: 10px;
    cursor: pointer;
}

.MyPostsHeader {
    display: flex;
    justify-content: space-between;

    font-size: 18px;
    font-weight: 800;

    margin: 40px 80px;

    color: var(--pink);

    align-items: center;
}

.MyPostsHeader button {
    outline: none;
    background: none;
    border: none;

    font-size: 12px;
    font-weight: 800;

    margin: 10px 0px;
    padding: 10px 20px;

    color: var(--yellow);

    border: 2px solid var(--yellow);
    border-radius: 10px;
    cursor: pointer;

    transition: all 0.3s;
}

.MyPostsHeader button:hover {
    transform: scale(1.05);

    color: var(--pink);

    border: 2px solid var(--pink);

    transition: all 0.3s;
}

.DisplayMyPosts {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 40px;

    margin: 0px 80px;

    color: var(--lightBlue);
}

.MyPostCardContainer {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    text-align: left;

    padding: 20px;

    border: 2px solid var(--lightBlue);
    border-radius: 10px;

    transition: all 0.3s;
}   

.MyPostCardContainer:hover {
    transform: scale(1.025);

    border: 2px solid var(--pink);
    
    transition: all 0.3s;
}

.MyPostDivTitle {
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 600;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    color: var(--yellow);
}

.MyPostDivDescription {
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 400;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    color: var(--white);
}

.MyPostDivButtonContainer button{
    outline: none;
    background: none;
    border: none;

    font-size: 14px;
    font-weight: 600;

    color: var(--lightBlue);

    cursor: pointer;
}


@media only screen and (max-width: 1000px) {
    .DisplayMyPosts {
        grid-template-columns: repeat(3, minmax(0, 1fr));;
    }
}

@media only screen and (max-width: 800px) {
    .DisplayMyPosts {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media only screen and (max-width: 600px) {
    .DisplayMyPosts {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .Header { 
        margin: 0px 20px;
    }

    .MyPostsHeader {
        margin: 20px;
    }

    .DisplayMyPosts {
        margin: 0px 20px;
    }
}