/* .EditPostContainer {
    background-color: var(--blue);
    min-height: 100vh;
}

.EditPostSubContainer {
    margin: 80px;
}

.textarea {
    background: none;
    border: none;
    resize: none;
    outline: none;

    width: 100%;
}

.EditPostTitle {
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 800;

    margin-bottom: 40px;

    color: var(--yellow);
} */














/* .EditPostContainer textarea {
    background: none;
    outline: none;
    border: none;

    width: 100%;
    height: fit-content;

    margin-top: 20px;
    padding: 10px;

    font-size: 12px;
    font-weight: 600;
    font-family: 'Montserrat';
    
    background-color: var(--white);
    border: 1px solid var(--black);
    border-radius: 10px;

    resize: none;
}

.ButtonContainer {
    display: flex;
    justify-content: flex-start;

    margin-top: 20px;
}

@media only screen and (max-width: 800px) {
    .EditPostImgContainer {
        width: 60%;
    }
} */