.FormContainer {
    display: flex;
    justify-content: space-around;

    width: 100%;
    height: 100vh;

    background-color: var(--white);
}

.FormSubContainer {
    display: flex;
    flex-direction: column;
    row-gap: 60px;

    margin: 80px 0px;

    text-align: center;

    width: 30%;
}

.Form {
    display: flex;
    flex-direction: column;
    row-gap: 5px;

    width: 100%;

    text-align: center;
}

.Form h1 {
    color: var(--blue);
}

.Form input {
    outline: none;
    background: none;
    border: none;

    margin: 10px 0px;
    padding: 5px 10px;

    font-size: 18px;

    width: 100%;

    border: 2px solid var(--blue);
    border-radius: 10px;
}

.Form button {
    outline: none;
    background: none;
    border: none;

    font-size: 18px;

    margin: 10px 0px;
    padding: 10px 20px;

    color: var(--white);
    background-color: var(--blue);

    border-radius: 10px;
    cursor: pointer;

    width: fit-content;
}

.FormSubContainer div {
    width: 100%;
    text-align: center;

    font-size: 18px;

    margin: 10px 0px;
}

.FormSubContainer div span {
    cursor: pointer;
}

.LinkTo {
    color: var(--blue);
    font-weight: 600;
}

@media only screen and (max-width: 800px) {
    .FormSubContainer {
        width: 60%;
    }
}

@media only screen and (max-width: 400px) {
    .FormSubContainer {
        width: 80%;
    }
}